*{
	margin: 0;
	padding: 0;
}

#mainScreen{
	width: 320px;
	height: 480px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}

.bg{
	width: 320px;
	height: 480px;
	position: absolute;
	background-image: url(../img/bg.jpg);
}
#bg2{
	top: -480px;
}
/* 飞机 */
#airplane{
	width: 60px;
	height: 36px;
	background-image: url(../img/plane.png);
	position: absolute;
	left: 130px;
	top: 440px;
}
.bullet{
	position: absolute;
	width: 6px;
	height: 22px;
	background-image: url(../img/bullet.png);
	background-size: 6px 22px;
}
.tank{
	position: absolute;
	width: 23px;
	height: 30px;
	background-image: url(../img/enemy.png));
	background-size: 23px 30px;
}
#Grade{
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	color: white;
}
.start {
	color: white;
	text-shadow: 3px 3px rgba(1,1,1,.5);
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}


#mainScreen>.over {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 100px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: black;
	text-align: center;
}
.over>h1 {
	color: #FF4500;
	text-shadow: 3px 3px white;
}

.over>div {
	color: white;
	margin: 30px auto;
	font-size: 25px;
}

.over>.restart{
	background-color: red;
	color: white;
	font-size: 20px;
	line-height: 35px;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
