<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model结合select使用</title>
</head>
<body>
<div id="app">
  <!--select也可以实现选择一个或多个-->
  <!--1. 选择一个-->
  <!--<select v-model="fruit">-->
    <!--<option value="苹果">苹果</option>-->
    <!--<option value="香蕉">香蕉</option>-->
    <!--<option value="荔枝">荔枝</option>-->
  <!--</select>-->
  <!--<h1>您选择的水果是：{{fruit}}</h1>-->

  <!--2. 选择多个-->
  <select v-model="fruits" multiple>
    <option value="苹果" >苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="荔枝">荔枝</option>
  </select>
  <h1>您选择的水果有： {{fruits}}</h1>
</div>
<script src="../js/vue.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data: {
      fruit: '荔枝',
      fruits: []
    }
  })
</script>
</body>
</html>